<!-- index posts -->
<h1>Post(s)</h1>
<% @posts.each do |post| %>
  <h4><%= "This is a post by #{@users.find(post.user_id).first_name} #{@users.find(post.user_id).last_name}" %></h4>
  <p><%= post.content %></p>
  <%= link_to 'View Post', post_path(post) %> 
  <br />
<% end %>
<br />
<% @users.each do |user| %>
  <%= link_to "Create a New Post as #{user.first_name}", new_post_path(user_id: user.id) %>
  <br />
<% end %>
